.void{
  width: 25px;
  height: 25px;
}

.top{
  border-top: black solid 1px;
  width: 25px;
  height: 25px;
}

.right{
  border-right: black solid 1px;
  width: 25px;
  height: 25px;
}

.bottom{
  border-bottom: black solid 1px;
  width: 25px;
  height: 25px;
}

.left{
  border-left: black solid 1px;
  width: 25px;
  height: 25px;
}

